body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: rgb(0, 0, 0);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* Center items horizontally */
}

.app {
  padding-bottom: 70px; /* Adjust the value based on your footer height */
}

.navbar li {
  margin-right: 20px;
  text-align: center;
}

.nav-icon {
  width: 35px;
  height: auto;
}

.nav-name {
  display: block;
  margin-top: 5px;
  color: white;
}

.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px 18px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
  background-color: #38c1fc;
  color: rgb(0, 0, 0);
}

.navbar a.active {
  color: white;
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }

  .navbar li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

.search-bar {
  margin-top: 20px;
  display: flex;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  justify-content: center; /* Center items horizontally */
}

.search-bar input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 500px;
  margin-right: 5px;
}

.search-bar button {
  padding: 10px;
  background-color: #282c34;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #38c1fc;
  color: black;
}

.profile-icon {
  width: 35px; /* Adjust the width as needed */
  padding-top: 18%;
  height: auto;
  margin-left: -30%;
  cursor: pointer; /* Add cursor style if it should look clickable */
}

